*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    display: flex;
    
    
}
ul li{
    list-style: none;
}
footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
   margin-bottom: -200px;
}

#wrapper{
    width:100%;
    margin: 0px auto;
    margin-left: auto;

    margin-right: auto;
    


}

#header{
    text-align: center;
    background: white;
    padding: 50px;
    font:200px;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    color: darkblue;
    font-size: medium;
    font-size: 70px;
    
    
}
#header a{
    text-decoration: none;
    
}
#navbar li{
    display: inline-block;
    
}
li a{
    font:20px;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    
    color: darkblue;
    font-size: medium;
    font-size: 18px;
    text-decoration: none;
    
}
#banner{
    height: auto;

}
#footer{
    text-align: center;
    background:rgb(226, 228, 223);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background: rgb(226, 228, 223);
    white-space: normal;
    max-width: 100%;
    height: auto;
}

#footer li{
    text-decoration-color: #e3e2f2;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background:rgb(226, 228, 223);
    white-space: normal;
    max-width: 100%;
    height: auto;
    
}
#navbar a{
    color: var (--text-color);
    font-size:1rem;
    font-weight:300;
    padding: 3px 0;
    margin: 0px 30px;
    text-decoration: none;
    display: inline;



  

}
#navbar li{
    font: 35px Arial Black;
    display: inline;
}

#navbar a:hover{
    background-color:#e3e2f2;
    color:#000;

}




#logo{
    padding: 10px;
}

#content{
   
    margin: 30px 300px 40px 300px;
    min-height: 800px;
    background-color:white;
    
    border-radius: 2px;
    border-style:ridge ;

    
}
#content p {
    
    padding: 30px 100px 20px 100px;
    font-size: 20px;
    text-align: left;
    
    
}
#content h ,h1{
    
    font-size: 20px;
    text-align: left;
    padding: 10px;
    
    
}