*{
    padding:0 ;
    margin:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
ul li{
    list-style: none;
}
#wrapper{
    width:960px;
    margin: 0px auto;


}

ul#navbar {
    float:right;
}
ul#navbar li{
    float:left;
}
ul#navbar li a {
    padding: 12px 15px;
    text-decoration: none;
    color: #000;
}


#header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%
    transition: all .50s ease;
}
#navbar {
    display: flex;
}
#navbar a{
    color: var (--text-color);
    font-size:1.1rem;
    font-weight:500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
#logo{
    float:left;
    height: 60px;
    text-decoration: none;
}