*{
    padding:0 ;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(208, 189, 223);
    
    
}

#logo{
    font:200px;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    margin-left: 50px;
    color: darkblue;
    font-size: medium;
    font-size: 30px;
}
body{
    min-height: 100vh;
}
ul li{
    list-style: none;
}
#wrapper{
    width:960px;
    margin: 0px auto;


}

ul#navbar {
    float:right;
}
ul#navbar li{
    float:left;
}
ul#navbar li a {
    padding: 12px 15px;
    text-decoration: none;
    color: #000;
    line-height: 65px;
}
#banner{
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 20px;
}

#header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%
    transition: all .50s ease;
}
#navbar {
    display: flex;
}
#navbar a{
    color: var (--text-color);
    font-size:1.1rem;
    font-weight:500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
#logo{
    float:left;
    height: 60px;
    text-decoration: none;
}
#photo img{
    width: 800px;
    height: 400px;

}