*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    min-width: 414px;
   
    
}
#navbar a{
    color: black;
}

#logo{
    color: #5563ce;
}
#footer{

    text-align: center;
    padding: 10px;
  
}


#wrapper{
    width:100%;
    margin: 0px auto;
    margin-left: auto;

    margin-right: auto;
    


}

#header{
    text-align: center;
    background: white;
    padding: 50px;
    font:200px;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    color: #5563ce;
    font-size: medium;
    font-size: 70px;
    
    
}
#header a{
    text-decoration: none;
}
#navbar li{
    display: inline-block;
    
}

#banner{
    height: auto;
    background-color: white;
}
#footer{
    text-align: center;
    background:rgb(226, 228, 223);
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: rgb(226, 228, 223);
    
    width: 100%;
    height: auto;

}
ul li{
    list-style: none;
}

#footer li{
    text-decoration-color: #e3e2f2;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background:rgb(226, 228, 223);
    width: 95%;
    min-height: 70px;
    
}
#navbar a{
    color: var (--text-color);
    font-size:1rem;
    font-weight:300;
    /*
    padding: 3px 0;
    margin: 0px 30px;
    
*/
    text-decoration: none;
    display: inline;
    font-family: 'Manrope', sans-serif;
  

}
#navbar li{
    font: 35px Arial Black;
    display: inline;
}

#navbar a:hover{
    background-color:#e3e2f2;
    color:#000;

}


#content{
   
    
    
    min-height: 500px;
    background-color:white;
    
    border-radius: 2px;
    border-style:ridge ;
    
}
#content p {
    
    
    font-size: 20px;
    text-align: justify;
    
    
}

@media only screen and (max-width:414px){
    #navbar {
        width: 90%;
        
    }
}


